<h1>Welcome To My Rails Site! The Best Site On The Planet!</h1>
<p>This is the home page in case you were wondering.
  If you found this site, it is because you are awesome. You see
  awesome attracts awesome. This site is built on Rails, the baddest
  ass framework you've probably ever seen in your life. In all honesty,
  I know that this site doesn't look like much yet, but just wait until
  it is all finished. I hope you brought a towel because your mind is
  going to be blown!!!!!!!!!!
</p>
